<launch>
  <node name="mimic_voice_hello" pkg="mimic_voice" 
        type="mimic_voice_hello.py" output="screen" />
  <node name="voice" pkg="mimic_voice" 
        type="voice.py" output="screen" />
  <node name="speaker" pkg="mimic_voice" 
       type="pyttsx_server.py" output="screen" />
</launch>
